In [1]:
x = "hello"
y= " hi"
print(bool(x)); print(bool(y))

True
True

In [2]:
x=6
for i in range(2):
    print(x)
    x-=1

6
5

In [3]:
x**=3
print(x)

64

In [4]:
x=10
x&=1
print(x)

0

In [5]:
x=7
not(x < 5 and x < 10)

True

In [6]:
set = {a,b,c}
for i in set:
    print(set)

NameError: name 'a' is not defined

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [8]:
thislist.insert(2,"grapes")
print(thislist)

['apple', 'banana', 'grapes', 'cherry']

In [9]:
thislist.remove("banana")
print(thislist)

['apple', 'grapes', 'cherry']

In [10]:
thislist.pop()
print(thislist)

['apple', 'grapes']

In [11]:
thislist.pop()
print(thislist)

['apple']

In [12]:
list = ['apple', 'banana', 'grapes', 'cherry']
del list[1]
print(list)

['apple', 'grapes', 'cherry']

In [13]:
list = ['apple', 'banana', 'grapes', 'cherry']
list1 = list.copy()
print(list1)

['apple', 'banana', 'grapes', 'cherry']

In [14]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [15]:
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [16]:
thislist = list(("apple", "banana", "cherry")) 
print(thislist)

TypeError: 'list' object is not callable

In [17]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [18]:
x="FashadAhmed"
c=0
for i in x:
    if i not in "AEIOUaeiou":
        print(i,end="")
    c+=1
print(c)

Fshdhmd11

In [19]:
x="FashadAhmed"
c=0
for i in x:
    if i not in "AEIOUaeiou":
        print(i,end="")
c+=1
print(c)

Fshdhmd1

In [21]:
x="FashadAhmed"
c=0
for i in x:
    if i in "AEIOUaeiou":
        print(i,end="")
    c+=1
print(c)

aaAe11

In [22]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [23]:
print(thistuple[-5:-2])

('cherry', 'orange', 'kiwi')

In [24]:
x = ("apple", "banana", "cherry")
y = list(x)
x[0] = "pineapple"
x = tuple(y)
print(x)

TypeError: 'list' object is not callable

In [25]:
# iteration in tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [26]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("y")

y

In [27]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [28]:
thistuple = ("apple", "banana", "cherry")
thistuple[2] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [29]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [30]:
thistuple = ("apple",)
a = type(thistuple)
if a == "<class 'tuple'>":
    print("yes")

In [31]:
thistuple = ("apple",)
a = type(thistuple)
if a == "<class 'tuple'>":
    print("yes")

In [32]:
# tupes are unchangeable so youu cant remove an index/element of it
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [33]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [34]:
tuple2 = (1, 2, 3,4,6,7,8,1,3,2,6,7,8)
print(tuple2.count(2))

2

In [35]:
print(tuple2.count(3))

2

In [36]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3,4,6,7,8,1,3,2,6,7,8)
print(tuple1.index("a"))
print(tuple2.index(2)) # only first 2 will be considered

0
1

In [37]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i)

apple
banana
cherry

In [38]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

In [1]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'orange', 'banana', 'grapes', 'mango', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [3]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [4]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
thisset.discard("cherry")
print(thisset)

{'apple'}

In [5]:
thisset.clear
thisset.del
print(thisset)

SyntaxError: invalid syntax (<ipython-input-5-97026f6da7d6>, line 2)

In [6]:
thisset.clear
thisset.del
print(thisset)

SyntaxError: invalid syntax (<ipython-input-6-97026f6da7d6>, line 2)

In [7]:
thisset.clear
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [8]:
c
set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [9]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [10]:
set1.difference(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [11]:
print(captilize.("fashad"))

SyntaxError: invalid syntax (<ipython-input-11-3a9ed5d27be8>, line 1)