In [1]:
list1 = [1,2,3]
list2 = ["apple","cherry","banana"]
zipped = list(zip(list1,list2))
print(zipped)

[(1, 'apple'), (2, 'cherry'), (3, 'banana')]

In [2]:
print(zipped)
unzipped = list(zip(*zipped))
print(unzipped)

[(1, 'apple'), (2, 'cherry'), (3, 'banana')]
[(1, 2, 3), ('apple', 'cherry', 'banana')]

In [3]:

for (l1,l2) in zipped:
    print(l1);print(l2)

1
apple
2
cherry
3
banana

In [5]:

item=["apple","mango","pineapple"]
rupees = [3,6,4]
quant = [0.99,1,66]
s=[]
for (item,rupees,quant) in zip(item,rupees,quant):
    item, rupees, quant = str(item) , str(rupees) , str(quant)
    s1 = "i buy"+ rupees + item + "in" + quant + "."
    s.append(s1)
print(s)

['i buy3applein0.99.', 'i buy6mangoin1.', 'i buy4pineapplein66.']